


<form style="position: absolute;
		right: 50px;
		top: 5px;"
	  method="post" asp-controller="Account" asp-action="Logout">
	<div id="userIdentityName" style="color:white">@User.Identity.Name</div>
	<input type="submit" value="Выход" />
</form>

<div id="root"></div>
<script src="~/bundles/layout.js"></script>
<link rel="stylesheet" href="~/bundles/layout.css" />




	