{
  "presets": [
    "@babel/react",
    ["@babel/preset-env",
    {
        "targets": {
          "esmodules": true
        }
      }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "production": {
      "compact": true,
      "comments": false,
      "minified": true
    }
  },
  "sourceMaps": true
}